/* RESET STYLESHEET 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* PAGE STYLING */

@font-face {
	src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
	font-family: PFD;
}
@font-face {
	src: url(fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
	font-family: PFD_i;
}

@font-face {
	src: url(fonts/Raleway-VariableFont_wght.ttf);
	font-family: Rlwy;
}

@font-face {
	src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);
	font-family: Rlwy_i;
}


h1, h2, h3, h4, h5, h6 {
	font-family: PFD;
	text-align: center;
}

h4, h5, h6 {
	text-align: left;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

h2 {
	margin-top: 30px;
}

h3 {
	font-size: 35px;
	margin-top: 60px;
	margin-bottom: 40px;
}

h4 {
	margin-bottom: 30px;
}

p {
	font-family: Rlwy;
}

b {
	font-weight: 600;
}

sup {
	font-family: Rlwy;
	position: relative;
	top: -0.5em;
	font-size: 80%;
}

.nav-container {
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 7vh;
	width: 100%;
	background-color: white;
	justify-content: center;
	position: fixed;
  	bottom: -1vh;
	transform: translateY(10vh);
	opacity: 0;
	transition: transform 0.5s .2s cubic-bezier(0.63,-0.23, 1, 1), opacity 2s	.2s ease-out;
	will-change: transform, opacity;
}

.showing .nav-container {
	transform: translateY(0vh);
	opacity: 1;
	transition: transform 0.4s cubic-bezier(0.03, 0.92, 1, 1), opacity 0.6s ease-in;
}

.nav-container img {
	height: 100%;
}

.header {
	height: 100vh;
}

.header img {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.chapter h2 {
	margin-top: 15%;
}

.chapter p {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 
}

.chapter-top{
	width: 70%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 15%;
}

.chapter-top img {
	width: 100%;
}

.chapter-heading {
	width: 100%;
	margin-top: -50%;
}

.chapter-heading-1l {
	width: 100%;
	margin-top: -45%;
}

.chapter-heading-1l h1 {
	font-size: 20px;
}

.chapter-heading h1 {
	font-size: 20px;
}

.all-in-all {
	margin-top: 50%;
	margin-bottom: 10%;
	width: 100%;
}

.all-in-all-text {
	background-image: url(/img/text/all_in_all1.png);
	background-size:100% 100%;
	padding-top: 40%;
	padding-bottom: 43%;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 15;
}

.all-in-all-text p {
	line-height: 120%;
}


.chapter-icon {
	margin: auto;
	margin-bottom: -40%;
	width: 35%;
	position: relative;
}

.circle {
	position: absolute;
	width: 100%;
}

.icon {
	position: absolute;
	margin-top: 15%;
	padding-left: 25%;
	width: 50%;
}

.main-text h4 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 10%;
	margin-bottom: 2%;
	line-height: 120%;
	
}

.main-text p {
	text-align: justify;
	line-height: 130%;
	font-size: 16px;
}

.appendix h4 {
	margin-top: 10%;
	margin-bottom: 2%;
	font-weight: 600;
}

.appendix ul{
	margin-top: 4%;
	margin-bottom: 4%;
}

.appendix ul li{
	font-family: Rlwy;
	text-align: justify;
	line-height: 120%;
	font-size: 16px;
	margin: 0;
	padding: 7px 0 12px 36px;
	list-style: none;
	background-image: url("img/text/circle.png");
	background-repeat: no-repeat;
	background-position: left;
	background-position-y: 10px;
	background-size: 15px;
}

.source {
	font-family: Rlwy;
	line-height: 130%;
	font-size: 16px;
	padding-left: 2em;
    text-indent:-2em;
}

.main-text i {
	font-style: italic;
}

.main-text ul{
	margin-top: 4%;
	margin-bottom: 4%;
}

.notice {
	margin-top: 5%;
}

.main-text ul li{
	font-family: Rlwy;
	text-align: justify;
	line-height: 120%;
	font-size: 16px;
	margin: 0;
	padding: 7px 0 12px 36px;
	list-style: none;
	background-image: url("img/text/circle.png");
	background-repeat: no-repeat;
	background-position: left;
	background-position-y: 10px;
	background-size: 15px;
}

.options-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 5%;
}

.option {
	background-image: url(/img/text/all_in_all1.png);
	background-size: 100% 100%;
	flex-basis: 100%;
	margin: 10px;
}

.option-with-list {
	margin-left: 4%;
	margin-right: 4%;
}

.option-with-list ul {
	margin-left: 10%;
	margin-right: 10%;
}

.list-wrapper {
	margin-top: 4%;
}

.list-option {
	background-image: none;
	margin: 0;
}

.list-option ul {
	background-image: none;
	margin: 0;
}

.li-continued {
	margin-left: 20px;
}

#all-text{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10vh;
}

@media only screen and (min-width: 750px) {

	.options-wrapper {
		justify-content: space-between;
	}

	.option-of-2 {
		flex-basis: 40%;
	}

	.option-of-3 {
		flex-basis: 30%;
	}
	
	.list-wrapper {
		justify-content: center;
		margin-top: 0;
	}

	.list-option {
		margin: 10px 20px 0 20px;
		flex-basis: 40%;
	}
	

}
